body {
    padding-top: 5rem;
    background-size:cover;
    background-position: center;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='1560' preserveAspectRatio='none' viewBox='0 0 1440 1560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1084%26quot%3b)' fill='none'%3e%3cpath d='M0 1506.65L10 1442.75L20 1551.39L30 1384.87L40 1475.32L50 1524.72L60 1481.32L70 1422.44L80 1317.3L90 1151.78L100 981.98L110 1077.97L120 1154.56L130 1144.48L140 1065.51L150 921.02L160 980.72L170 1034.44L180 926.47L190 858.13L200 1050.01L210 894.76L220 975.56L230 901.5L240 886.22L250 1041.98L260 888.57L270 1017.81L280 990.4L290 1095.76L300 1152.36L310 1179.07L320 1087.66L330 1167.96L340 1128.89L350 1082.87L360 926.9L370 1078.29L380 934.56L390 1026.62L400 931.07L410 790.42L420 871.99L430 1054.15L440 1169.62L450 1290.25L460 1459.25L470 1445.24L480 1557.46L490 1463.79L500 1535.85L510 1476.79L520 1282.56L530 1417.62L540 1499.95L550 1335.63L560 1406.73L570 1510.51L580 1345.93L590 1354.17L600 1460.95L610 1540.13L620 1369.71L630 1217.28L640 1377.56L650 1400.51L660 1542.55L670 1493.34L680 1392.21L690 1542.63L700 1464.65L710 1489.98L720 1498.96L730 1336.36L740 1202.09L750 1307.05L760 1299.83L770 1211.37L780 1269.87L790 1255.4L800 1266.5L810 1424.96L820 1283.74L830 1255.74L840 1409.14L850 1281.15L860 1092.12L870 1062.27L880 1166.22L890 1078.93L900 1206.73L910 1201L920 1278.31L930 1280.66L940 1233.94L950 1409.16L960 1448.35L970 1379.88L980 1433.39L990 1285.09L1000 1163.95L1010 1251.93L1020 1164.6L1030 971.52L1040 859.86L1050 843.71L1060 823.12L1070 740.38L1080 890.67L1090 982.43L1100 1127.14L1110 1204.66L1120 1366.75L1130 1460.03L1140 1554.42L1150 1460.41L1160 1383.13L1170 1526.36L1180 1400.13L1190 1476.28L1200 1361.99L1210 1383.03L1220 1412.97L1230 1316.92L1240 1302.85L1250 1371.12L1260 1219.22L1270 1087.18L1280 905.91L1290 978.27L1300 1115.4L1310 1262.36L1320 1200.61L1330 1047.18L1340 914.98L1350 909.04L1360 859.84L1370 1043.95L1380 1193.6L1390 1023.63L1400 1203.97L1410 1381.94L1420 1504.36L1430 1467.77L1440 1467.18' stroke='rgba(0%2c 0%2c 0%2c 0.29)' stroke-width='2'%3e%3c/path%3e%3cpath d='M0 1506.65L10 1442.75L20 1551.39L30 1384.87L40 1475.32L50 1524.72L60 1481.32L70 1422.44L80 1317.3L90 1151.78L100 981.98L110 1077.97L120 1154.56L130 1144.48L140 1065.51L150 921.02L160 980.72L170 1034.44L180 926.47L190 858.13L200 1050.01L210 894.76L220 975.56L230 901.5L240 886.22L250 1041.98L260 888.57L270 1017.81L280 990.4L290 1095.76L300 1152.36L310 1179.07L320 1087.66L330 1167.96L340 1128.89L350 1082.87L360 926.9L370 1078.29L380 934.56L390 1026.62L400 931.07L410 790.42L420 871.99L430 1054.15L440 1169.62L450 1290.25L460 1459.25L470 1445.24L480 1557.46L490 1463.79L500 1535.85L510 1476.79L520 1282.56L530 1417.62L540 1499.95L550 1335.63L560 1406.73L570 1510.51L580 1345.93L590 1354.17L600 1460.95L610 1540.13L620 1369.71L630 1217.28L640 1377.56L650 1400.51L660 1542.55L670 1493.34L680 1392.21L690 1542.63L700 1464.65L710 1489.98L720 1498.96L730 1336.36L740 1202.09L750 1307.05L760 1299.83L770 1211.37L780 1269.87L790 1255.4L800 1266.5L810 1424.96L820 1283.74L830 1255.74L840 1409.14L850 1281.15L860 1092.12L870 1062.27L880 1166.22L890 1078.93L900 1206.73L910 1201L920 1278.31L930 1280.66L940 1233.94L950 1409.16L960 1448.35L970 1379.88L980 1433.39L990 1285.09L1000 1163.95L1010 1251.93L1020 1164.6L1030 971.52L1040 859.86L1050 843.71L1060 823.12L1070 740.38L1080 890.67L1090 982.43L1100 1127.14L1110 1204.66L1120 1366.75L1130 1460.03L1140 1554.42L1150 1460.41L1160 1383.13L1170 1526.36L1180 1400.13L1190 1476.28L1200 1361.99L1210 1383.03L1220 1412.97L1230 1316.92L1240 1302.85L1250 1371.12L1260 1219.22L1270 1087.18L1280 905.91L1290 978.27L1300 1115.4L1310 1262.36L1320 1200.61L1330 1047.18L1340 914.98L1350 909.04L1360 859.84L1370 1043.95L1380 1193.6L1390 1023.63L1400 1203.97L1410 1381.94L1420 1504.36L1430 1467.77L1440 1467.18L1440 1560L0 1560z' fill='url(%23SvgjsLinearGradient1085)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1084'%3e%3crect width='1440' height='1560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='50%25' y1='0%25' x2='50%25' y2='100%25' id='SvgjsLinearGradient1085'%3e%3cstop stop-opacity='0.65' stop-color='rgba(0%2c 0%2c 0%2c 0.29)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(0%2c 0%2c 0%2c 0.29)' offset='0.8'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
  }
  .starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
  }

  .result{

    color: green;
  }

  
/* main CSS - START */

  .starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
  }

/* main CSS - END */


.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: transparent;
  }

  .container {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
  }


/* test */




@-webkit-keyframes ripple{
    0%{
        opacity:1;
        -webkit-transform:scale(0);
        transform:scale(0)
    }
    100%{
        opacity:0;
        -webkit-transform:scale(1);
        transform:scale(1)
    }
}
@keyframes ripple{
    0%{
        opacity:1;
        -webkit-transform:scale(0);
        transform:scale(0)
    }
    100%{
        opacity:0;
        -webkit-transform:scale(1);
        transform:scale(1)
    }
}





















